*{
    margin: 0px;
}
body{
    height: 100vh;
    width: 100vw;
}

header{
    top: 0px;
    width: 100%;
    margin-top: 10px;
    position: absolute;
    z-index: 10;
}

@font-face{
    font-family: 'fonten2';
    src: url(slime.ttf)
}

header h1{
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: fonten2;
}

#slime{
    display: block;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
}

#bg-container{
    position: absolute;
    z-index: -10;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url(slime.gif);
    background-size: cover;
}

#dim-plate{
    position: absolute;
    z-index: -1;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(18, 63, 0, 0.75);

}

#names{
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    bottom: 50px;
    display: flex;
}

.name{
    flex: 1;
    
}

.name p{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    text-align: center;
    color: white;
}